---
---
@import "{{ site.theme }}";

body {
  color: #e0e0e0;
  font-family: 'Helvetica', sans-serif;
  background-color: #121212; /* Un fond noir par défaut le temps que l'image charge */
}

.container-lg {
  background: rgba(20, 20, 20, 0.85); /* Ton bloc de texte semi-transparent */
  padding: 40px;
  border-radius: 10px;
}
